.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fafafa;
}

.header {
  margin-bottom: 20px;
}


.auth-container {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.toggle-btn {
  margin-bottom: 20px;
  background-color: #0095f6;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.auth-btn {
  background-color: #0095f6;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
