*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;
}
.header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.header-left img{
    width: 200px;
    height: 60px;
}
.header-right ul{
          display: flex;
          align-items: center;
}
.header-right ul li{
    list-style: none;
    margin-left: 50px;
    font-weight: 600;
    font-size: 30px;
}
.header-right ul li:first-child{
    font-weight: 700;
    color: #20bc7e;
}
a{
    text-decoration: none;
    color: black;
}
/* ----------------About Section */
.about-us{
    margin-top: 20vh;
    margin-left: 40vh;
    margin-right: 40vh;
    margin-bottom: 25vh;
   
}
.about-us h1{
    text-align: center;
    font-weight: 900;
    color: #20bc7e;
    font-size: 5rem;
}
.about-us p{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}
.buttom{
    background-color:#f0f4f5 ;
    width: 65px;
    height: 130px;
    padding: 15px;
    display: flex;
    padding: 20px;
    gap: 30px;
    position: absolute;
    left: 45rem;
   
    
}
.btn{
    color: #20bc7e;
    padding-left: 55px;
    padding-right: 55px;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 15px;
    box-sizing:content-box;
    box-shadow: 3px 3px 5px 8px rgb(0, 0, 0,0.2);
   

}
.btn span{
    color: black;
    font-weight: 600;
    
}
